<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IntervalInMinutes" value ="1"/>
		<add key="SenderName" value ="ReportSms"/>
		<add key="ReceiverNumber" value ="+48608000000"/>
		<add key="SmsAccountLogin" value ="webapi_ReportSmsService"/>
		<add key="SenderSmsPassword" value ="encrypt:test"/>
	</appSettings>
</configuration>